<!DOCTYPE html>
<html>
  <head>
  <base href="/">
    <title>Restaurant</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>

    <nav id="menu" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"> 
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Restaurant &nbsp;<span class="glyphicon glyphicon-cutlery"></span></a>
        </div>

        <div class="collapse navbar-collapse" id="menu"> 
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/"><span class="glyphicon glyphicon-off"></span>&nbsp; Salir</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div ng-app="myApp" ng-view> 
    
    </div> 

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular-route.js"></script>
    <script src="/js/public/app.js"></script>
    <script src="/js/public/producto/ProductoServices.js"></script>
    <script src="/js/public/producto/ProductoController.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
