<center>
<h2>Administración de Productos</h2>
<br />
<label>Buscar: <input ng-model="filtro"></label>
<br />
<br />

<div class="row">
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="jumbotron">
			<div class="container">
				<table class="table table-hover">
					<thead>
						<tr>
							<th><center><h3>Nombre</h3></center></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="producto in listaProductos | filter : filtro"">
							<td><h4>{{ producto.nombre }}</h4></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
</div>
</center>